[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A timeline / gantt chart library for large data (e.g. traces)
[access "refs/*"]
	owner = group user/Matthew Khouzam (MatthewKhouzam)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Matthew Khouzam (MatthewKhouzam)
	label-Verified = -1..+1 group user/Matthew Khouzam (MatthewKhouzam)
	push = group user/Matthew Khouzam (MatthewKhouzam)
	read = group user/Matthew Khouzam (MatthewKhouzam)
	rebase = group user/Matthew Khouzam (MatthewKhouzam)
	removeReviewer = group user/Matthew Khouzam (MatthewKhouzam)
	submit = group user/Matthew Khouzam (MatthewKhouzam)
[access "refs/heads/*"]
	create = group user/Matthew Khouzam (MatthewKhouzam)
	push = +force group user/Matthew Khouzam (MatthewKhouzam)
	pushMerge = group user/Matthew Khouzam (MatthewKhouzam)
	read = group user/Matthew Khouzam (MatthewKhouzam)
[access "refs/tags/*"]
	push = group user/Matthew Khouzam (MatthewKhouzam)
	push = +force group user/Matthew Khouzam (MatthewKhouzam)
